.center{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  
}
.title{
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 60px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1;
  text-align: center;
}
.text {
  width: 500px ; 
  
}
.margin{
  margin-top: 100px ;
}
.movies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  width: 100%
}

.movieDetails{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
 
}

a {
  color: rgb(0, 0, 0);
  font-family: helvetica;
  text-decoration: none;
  
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: rgb(0, 13, 128);
}



